@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-\[1024px\]{
    max-width:100vw !important;
}
html{
    font-family: "Lora", serif;
}
#lugarRecogida,#fechaRecogida,#lugarEntrega,#fechaEntrega{
    border-style:none;
}
body{
    overflow-x:hidden;
}

input:focus{
    box-shadow:none !important;
}
#valorarText:focus{
    box-shadow:none !important;
}

input, #valorarText{
    border-style:none;
}
 